:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-accent-color: #2196F3;
    --white-color: #FFFFFF;  
    --black-color: #000000;
    }

body{
    background: var(--white-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
    
ul{
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */

/* logo */

.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-header-main{
    color: var(--primary-accent-color)
}

.logo-header-sub{
    color: var(--black-color);
}

/* nav */

.link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.nav-link{
    color: var(--primary-text-color);
}

.nav-link:hover, .nav-link:focus{
    color: var(--primary-accent-color);
}

.info-link{
    color: var(--primary-text-color);
}

.info-link:hover{
    color: var(--primary-accent-color);}

a.current-page:link,
a.current-page:visited {
color: var(--primary-accent-color);
}

/* hero */

.hero{
    background-color: #2F303A;
}

.hero-title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
 
.button{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.button.primary{ 
    background-color: var(--primary-accent-color);
    color: var(--white-color);
}

.button-filter{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

/* section */

.features-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features-description{
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
}

.section-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.team-title{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;   
}

.team-description{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

.section-team{
    background: #F5F4FA
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Портфоліо */

.button-filter{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.button-filter.primary{
    background-color: var(--primary-accent-color);
    color: var(--white-color);
}

.button-filter.secondary{
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    }

.button-filter{
    cursor: pointer;
}   

.work-exemple{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.work-text{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}


/* footer */

.footer{
    background-color: #2F303A;
}

.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-footer-main{
    color: var(--primary-accent-color)
}

.logo-footer-sub{
    color: var(--white-color);
}

.address-list{
    color: var(--white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.contact-list{
    color: var(--secondary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
}
     
.contact-list:hover {
    color: var(--primary-accent-color);
}

